@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff7613;
    --text-color: #0c0c0c;
    --secondary-color: #ef13ff;
    --bgprofile-color: rgb(46, 55, 72);
    --graphic-color: rgb(44, 191, 170);
    --abstract-color: #9e9a9a;
    --titled-color: #e6e0e0;
}

html {
    font-size: 12px;
}

body {
    font-family: Roboto;
    background-color: black;
    color: white;
}

/* common styles */
img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.description {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--abstract-color);
    display: block;
    text-align: justify;
}

.description strong {
    color: var(--titled-color);
}

.section-header {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.item_preTitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}

.item_Title {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}

.item_subTitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

/* layouts */
.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 3rem;
    background: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 3rem;
    }
}

.profile {
    grid-column: 1 / -1;
}

.profile_section {
    font-family: Roboto;
    background-color: var(--bgprofile-color);
    color: white;
}

.profile_counter {
    margin-left: auto;
    height: 50px;
    gap: 1rem;
    display: block;
}

@media only screen and (max-width: 768px) {
    .profile_counter {
        margin-left: auto;
        margin-top: -26rem;
    }

    .hr1 {
        margin-top: 21rem;
        border-top: 3px solid white;
        flex-basis: 100%;
        height: 0;
    }
}

.counter1 {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.counter {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.count {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    text-align: center;
    border-radius: 25px;
    border: 3px solid var(--secondary-color);
    padding: 20px;
    width: 150px;
    height: fit-content;
    margin: auto;
}

#countdown {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

#countdown li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
}

#countdown li:last-child {
    margin-right: 0
}

#countdown li span {
    display: block;
    font-size: 20px;
    font-weight: 100;
    height: 32px;
    line-height: 30px;
    width: 50px;
    border-radius: 10px;
}

#countdown li .days {
    background-color: #45b29d;
    border-top: 1px solid #6ac1b1;
    border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
    background-color: #efc94c;
    border-top: 1px solid #f2d470;
    border-left: 1px solid #f2d470;
}

#countdown li .minutes {
    background-color: #df6a27;
    border-top: 1px solid #df6a27;
    border-left: 1px solid #df6a27;
}

#countdown li .seconds {
    background-color: #a98681;
    border-top: 1px solid #a98681;
    border-left: 1px solid #a98681;
}

#countdown li:before {
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 1px;
}

#countdown li:after {
    content: "";
    height: 11px;
    right: 0;
    position: absolute;
    top: 16px;
    width: 1px;
}

/* profile */
.profile_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.profile_profileImage {
    max-width: 250px;
}

.first_name {
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

.last_name {
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.profile_title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .profile_container {
        flex-direction: column;
    }
}

/* horizontal lines */

.hr1 {
    border-top: 3px solid white;
    flex-basis: 100%;
    height: 0;
}

.hr2 {
    border-top: 3px solid var(--graphic-color);
    flex-basis: 100%;
    height: 0;
}

/* Contact */
.contact_list {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1;
}

#contact {
    font-family: Roboto;
    font-size: 14pt;
    padding: 0;
    margin: 0;
    border: none;
}

#contact li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none no-repeat left 80%;
}

#contact .email {
    background-image: url(assets/icon/email.png);
}

#contact .phone {
    background-image: url(assets/icon/phone.png);
}

#contact .website {
    background-image: url(assets/icon/website.png);
}

#contact .address {
    background-image: url(assets/icon/address.png);
}

#contact .linkedin {
    background-image: url(assets/icon/linkedin.png);
}

#contact .github {
    background-image: url(assets/icon/github.png);
}

#contact a {
    display: block;
    padding: 5px 2px 1px 20px;
    text-decoration: none;
    color: #666666;
}

/* unvisited link */
#contact a:link {
    color: var(--graphic-color);
}

/* visited link */
#contact a:visited {
    color: var(--graphic-color);
}

#contact a:hover,
#contact a:focus {
    color: #000;
    background-color: #eeeeee;
}

/* selected link */
#contact a:active {
    color: blue;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.group2 {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.timelines {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.timeline-title {
    font-weight: bold;
    color: var(--primary-color);
    /* font-weight: 700; */
    font-size: 2rem;
    text-transform: uppercase;
}

.timeline-item {
    margin-bottom: 2em;
}

.timeline-item h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    position: relative;
}

.timeline-item h5 {
    font-size: 1.25em;
    padding: 0;
    margin: 0;
    color: var(--titled-color);
    clear: both;
}

.timeline-item h3::before {
    content: "";
    position: absolute;
    left: -1.68em;
    background-color: var(--graphic-color);
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    transform: translate(-0.5px, 0.2em);
}

.timeline-items {
    margin: 2em;
    padding: 0.01em 0 0.5em 2em;
    border-left: 1px solid var(--graphic-color);
}

.timeline-item {
    margin-top: -0.3em;
}

.timeline-item time {
    float: left;
    color: var(--graphic-color);
}

.timeline-item>* {
    margin: 1em 0;
}

.timeline-item .location {
    float: right;
    font-size: 0.85em;
    font-style: italic;
    color: var(--graphic-color);
}

.timeline-item .tasks {
    clear: both;
    float: left;
    font-size: 0.85em;
    font-style: italic;
    color: var(--abstract-color);
    margin: 0;
}

.timeline-item .abstract {
    font-size: 0.85em;
    font-style: italic;
    color: var(--abstract-color);
    padding: 0;
    margin: 0;
    text-align: justify;
}

/* unvisited link */
.abstract a:link {
    color: var(--graphic-color);
}

/* visited link */
.abstract a:visited {
    color: var(--graphic-color);
}

.abstract a:hover,
.abstract a:focus {
    color: #000;
    background-color: #eeeeee;
}

.details {
    font-size: 1.25em;
    clear: both;
    text-align: justify;
    color: var(--abstract-color);
}

.details ul {
    padding-right: 1em;
    list-style-type: none;
    list-style-position: outside;
}

.details ul li {
    padding-left: 1em;
    position: relative;
}

.details ul li strong {
    color: var(--titled-color);
}

.details ul li:before {
    color: var(--graphic-color);
    content: '-';
    position: absolute;
    left: 0;
}

.interest {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0.2rem;
    margin: 0rem;
}

.interest-item {
    margin: 2em;
    padding: 0.01em 0 3em 2em;
}

#rcorners-fill {
    border-radius: 25px;
    color: var(--abstract-color);
    border: 2px solid var(--graphic-color);
    background: var(--bgprofile-color);
    padding: 5px;
    width: max-content;
    height: max-content;
    text-align: center;
    font-size: 1.3em;
}

#rcorners-hollow {
    border-radius: 25px;
    border: 2px solid var(--graphic-color);
    padding: 5px;
    width: max-content;
    height: max-content;
    text-align: center;
    font-size: 1.3em;
}

.language {
    gap: 3rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0.2rem;
}

.language-bar {
    margin: 2em;
    padding: 0.01em 0 1em 2em;
}

.language-item {
    font-size: 1.3em;
}

.language-item1 {
    font-size: 1.3em;
    margin-left: 10rem;
}

.language-item2 {
    font-size: 1.3em;
    margin-left: 8rem;
}

.language-level {
    color: var(--graphic-color);
    font-size: 0.85em;
    font-style: italic;
}

.language-level2 {
    color: var(--graphic-color);
    font-size: 0.85em;
    font-style: italic;
    margin-left: 1.5rem;
}